::selection {
    background: #ffff64;
    color: black;
}

h1 a i.fa {
    font-size: 16px;
}

h1 a.edit {
    font-size: 13px;
    text-decoration: none;
}

.line {
    margin: 1em;
}
.line.hideLine {
    color: white;
}

.stage, .scene {
    color: black;
}

span.stage {
    font-style: italic;
    font-size: 80%;
}
span.stage::before {content: "(";}
span.stage::after {content: ")";}
.hideLine > span.stage {
    color: white;
}

.scene {
    font-size: 20px;
    font-weight: bold;
}

.name {
    font-weight: bold;
    color: black;
}

.delete, .create {
    text-decoration: none;
}

.highlight .name {
    background-color: yellow;
}

@media print {
    #controlbox {
        display: none;
    }

    h1 a {
        display: none;
    }

    .highlight .name {
        -webkit-print-color-adjust: exact; 
    }
}
